<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link href="{{url_for('static', filename='css/nav.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/about.css')}}" rel="stylesheet">
</head>
<body>
  <nav>
      <ul>
          <li><a class="nav_link" href="/">Home</a></li>
          <li><a class="nav_link" href="/dashboard">Dashboard</a></li>
          <li><a class="nav_link" href="/about">About</a></li>
          <li><a class="nav_link" href="/logout">Logout</a></li>
      </ul>
  </nav>
  <div class="container">
    <div class="small-container">
    <h1>About Me</h1>
    
    <div id="profilePic"></div>
    <p>I am a 16-year-old coder from India, deeply passionate about Artificial Intelligence (AI), Machine Learning (ML), Deep Learning (DL), and Large Language Models (LLMs). Besides specializing in these areas, I have a solid foundation in web development and other domains of computer science. I am active on GitHub under the username <a href="https://github.com/LordRaleigh7926">LordRaleigh7926</a>, where I showcase my projects and contributions. You can connect with me on LinkedIn <a href="https://www.linkedin.com/in/ankush-roy-3a11232a8">here</a>, or reach out via email at ankushroy7926@gmail.com. Additionally, I have recently started writing on Medium, where I share insights and articles on technology and programming. Check out my work <a href="https://medium.com/@ankushroy7926_12676">here</a></p>
  </div></div>
</body>
</html>